//Menu wrapper
.menu-list {
  width: 224px;

  .menu-item {
    margin-left: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  overflow-y: overlay;
}

//Menu Item
.menu-item {
  width: 100%;
  justify-content: flex-start;
  line-height: 1.8rem;
  border-radius: 0;
  font-weight: 600;
  padding: 11px 16px;

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

//Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0; //Ko cho co láº¡i
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));
}
